numpy
pandas
opencv-python
PyYAML
scikit-learn
torch
torchvision
timm
segmentation_models_pytorch
tqdm
tensorboard
grad-cam
gradio
pywebview
PyInstaller
pytest
python-docx
fastapi
uvicorn
python-multipart
